
<style>
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,400italic,300,500,700);
@font-face{ 
	font-family: 'Roboto', sans-serif;
	src:url(https://fonts.googleapis.com/css?family=Roboto:400,100,400italic,300,500,700);}
body{
	font-family: 'Roboto', sans-serif;
}
	.pnl-parent:after{
	content:"";
	width:0;
	height:100%;
	display: inline-block;
	vertical-align: middle;
}
.displayed{display: inline-block;vertical-align: middle;}

.color-darker{color:#545454;}

.text-indent-20px{text-indent:20px;}

.class-bordering{border: solid #2b70c0 25px;}

.pnl-parent:after{
	content:"";
	width:0;
	height:100%;
	display: inline-block;
	vertical-align: middle;
}
.displayed{display: inline-block;vertical-align: middle;}
.center-margin{margin:0 auto;}
.black-color{color:#333;}
.w-900px{width:900px;}
.w-800px{width:800px;}
.margin-top-30{margin-top:30px;}
.margin-bottom-30{margin-bottom:30px;}
a:link{text-decoration:none; color:#5b9be5;}
a:hover{text-decoration:none; color:#5b9be5;}
a:active{text-decoration:none; color:#5b9be5;}
a:visited{text-decoration:none; color:#5b9be5;}
.font-400{font-family: 'Roboto', sans-serif; font-weight: 400;font-size:25px;}
.font-500{font-family: 'Roboto', sans-serif; font-weight: 400; font-size:40px;}
.height-300px{height:300px;}
.text-center{text-align:center;}
.bg-white{background-color: #fff;}
.padding-30px{padding: 30px;}
.text-left{text-align: left;}
.padding-left-50px{padding-left:50px;}
</style>


<section section-style="">	

	<div class="pnl-parent text-center center-margin w-900px">
		<div class="bg-white center-margin padding-30px height-300px class-bordering displayed text-left">
			<img src="roxas-holdings-logo.png" alt="">
			<h1 class="color-darker margin-top-30 margin-bottom-30 text-indent-20px font-500">Hi <span>Cedrick Lim</span>,</h1>
			<h2 class="black-color w-800px center-margin font-400 padding-left-50px">Congratulations! You have been offered <span>50,000</span> shares in ESOP 1.<br>Please go to the <a href="#">Offers</a> page to check it out!</h2>
		</div>
	<div>
</section>
