* {
	margin: 0;
	padding: 0;
	font-family: 'Arial' sans-serif;
}

body {
	background-color: #9c1303;
}
.login-parent {
	height: 100vh;
	width: 100vw;
	text-align: center;
}

.login-form .call-center-logo{
	width: 200px;
}

.login-parent:after {
	display: inline-block;
	content: '';
	height: 100%;
	width: 0px;
	vertical-align: middle;
}

.login-form {
	display: inline-block;
	padding: 20px 0;
	background-color: #fff;
	border-radius: 30px;	
	width: 450px;
	height: auto;
	vertical-align: middle;
}

.login-form form {
	padding-left: 20px;
	padding-right: 20px;
}

.login-form .form-group input {
	width: 100%;
}

.login-form form>img {
	display: block;
	margin: 0 auto;
	margin-bottom: 15px;
	padding-top: 10px;
	width: 30%;
}

.login-form form p {
	font-family: Arial, sans-serif;
	letter-spacing: 1px;
	text-align: left;
}
	.login-form form p:last-child {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.login-form form input {
		padding: 5px;
	}
	.login-form p:nth-child(2) {
		margin-top: 10px;
	}


.login-form form .form-group1 {
	margin-top: 10px;
}


.login-form form .form-group2 {
	margin-top: 10px;
}

.login-form  form button {
	margin-top: 10px;
	padding: 10px 0;
	width: 100%;
}
	
.login-form .image-content1 {
	margin-top: 20px;
	margin-left: 20px;
}

	.login-form .image-content1 table {
		margin-right: 20px;
	}
	.login-form .image-content1 td img {
		width: 80%;
		margin-left: 10px;
	}
	

	.login-form .image-content1 td {
		border-radius: 5px;
		transition: box-shadow 0.5s;
		margin-right: 15px;
		padding-bottom: 10px;		
		width: 20%;		
	}
	
	.login-form .image-content1  td:hover {
	box-shadow: -1px 5px 10px rgba(0,0,0,0.5)
	}

	
.login-form .image-content2 {
	margin-top: 10px;
}
	.login-form .image-content2 table {
		margin: 0 auto;	
		width: 40%;	
	}


	.login-form .image-content2 td img {
		width: 100%;
		padding: 0 5px;
	}

	.login-form .image-content2 td {
		border-radius: 5px;
		transition: box-shadow 0.5s;
	}

	.login-form .image-content2  td:hover {
	box-shadow: -1px 5px 10px rgba(0,0,0,0.5)
	}


	
	

